<div class="jumbotron">
    <h1>Web API For this site</h1>
    <p class="lead">Support for RESTful API calls for Employees and Offices CRUD operations</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Access via #{hostname}/api/offices/</p>
    </div>
</div>
